<!-- producto.component.html -->
<article class="card">
  <img class="img" [src]="product.imageUrl" [alt]="product.name" />

  <div class="body">
    <div class="top">
      <h3 class="title">{{ product.name }}</h3>
      <span class="price"> $ {{ product.price }}</span>
    </div>

    <p class="meta">{{ product.category }}</p>
    <p class="desc">{{ product.description }}</p>

    <p class="stock" [class.out]="product.inStock === 0">
      @if (product.inStock > 0) {
        En stock: {{ product.inStock }}
      } @else {
        Agotado
      }
    </p>

    @if (product.inStock > 0) {
      <div class="product-actions">
        <div class="quantity">
          <button (click)="decrease()" [disabled]="quantity <= 1">-</button>
          <span>{{ quantity }}</span>
          <button (click)="increase()" [disabled]="quantity >= stockDisponible">+</button>
        </div>

        <button
          class="cart-btn"
          (click)="addToCart()"
          [class.cart-btn--agotado]="stockDisponible <= 0"
          [title]="
            stockDisponible <= 0 ? 'Ya agregaste todo el stock disponible' : 'Agregar al carrito'
          "
        >
          <img src="/icono_añadir_al_carrito.png" alt="Agregar al carrito" />
        </button>
      </div>

      @if (stockDisponible <= 0 && cantidadEnCarrito > 0) {
        <p class="stock-warning">Ya tienes el máximo disponible en tu carrito.</p>
      }
    }
  </div>
</article>
