<header class="header">
    <h1>Productos destacados</h1>
</header>

<section class="grid">
    @for(p of products; track p.id){
        <app-product-card [product]="p"></app-product-card>
    }
  </div>
</section>

<!-- ===== PRODUCTOS DESTACADOS ===== -->
<!-- ✅ products() con paréntesis porque ahora es un signal -->
<section class="featured">
  <div class="featured__grid">
    @for(p of products(); track p.id){
      <app-product-card [product]="p"></app-product-card>
    }
  </div>

  <div class="featured__more">
    <button routerLink="/catalogo" class="btn-primary">
      VER MÁS PRODUCTOS
    </button>
  </div>
</section>
