<!-- panel_administracion.component.html -->
 
<!-- ===== NAVBAR ===== -->
<nav class="navbar">
  <div class="navbar__brand">
    <div class="navbar__logo">
      <img src="logo_papeleria.jpeg" alt="Logo" class="navbar__logo-img" />
    </div>

    <span class="navbar__title"> Papelería Zetec </span>
  </div>

  <div class="navbar__links">
    <a routerLink="/panel_administracion" routerLinkActive="active" class="navbar__link"> Panel </a>

  </div>

  <div class="navbar__actions">
    <button class="navbar__icon-btn" (click)="irAlPerfil()">
  <svg viewBox="0 0 24 24" width="22" height="22" fill="none" stroke="currentColor" stroke-width="2">
    <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2" />
    <circle cx="12" cy="7" r="4" />
  </svg>
</button>
  </div>
</nav>

<!-- ===== CONTENIDO ===== -->

<div class="panel-container">
  <h1 class="panel-title">Panel de administración</h1>

  <!-- BOTONES -->
  <div class="panel-actions">
    <button routerLink="/agregar_producto" routerLinkActive="active" class="btn-accion btn-azul">AGREGAR PRODUCTO</button>

    <button routerLink="/crear_categoria" routerLinkActive="active" class="btn-accion btn-azul" >CATEGORÍAS</button>
  </div>

  <!-- PRODUCTOS -->
  <div class="productos-grid">
    @for (producto of productos(); track producto.id) {
      <div class="producto-card">
        <img [src]="producto.imageUrl" alt="Producto" class="producto-img" />

        <div class="producto-info">
          <p>{{ producto.name }}</p>
          <p>Precio: $ {{ producto.price }} MXN</p>
          <p>Stock: {{ producto.inStock }}</p>
          <p>Categoría: {{ producto.category }}</p>
        </div>

        <button routerLink="/editar_producto" routerLinkActive="active" class="btn-editar" >Editar</button>
      </div>
    }
  </div>
</div>
